.titulo{
  font-size: 21px;
  font-weight: 700;
}
.subtitulos{
  font-size: 13px;
  color: gray;
}
.contenedor{
  padding: 50px 0 0 0;
}
.detalleArticulos{
  border-bottom: 1px solid lightgray;
  width: 67%;
  margin:  0 3% 0 0;

}
h4{

}
.panelCompraTotal{
  ppadding: 0;
  margin: 0px;
  /*position: relative;*/
  left: 25px;
  bottom: 340px;
}
.letraPanel{
  font-size: 12px;
}
.puntero:hover{
    color: rgb(201, 101, 24);
}
.textoVerde{
  color: #4b9e4b;
}
.textoRojo{
    color: rgb(177, 39, 4);
    font-weight: 700;
}
.botonProcederPago{
    color: black;
    border: 1px solid black;
    background-color: #FFD65E;

}
.botonProcederPago:hover{
    color: black;
    border: 1px solid black;
    background-color: #EEBB38;
}
.linea{

    display: inline;
    background-color: lightgray;
    margin: 10px 0 0 30px;
}
.textoLinea{
    text-align: center;
}
.ultimoPanel{
    border-top: 1px solid lightgray;
}

.descripcionProducto{
  font-size: 17px;
}
.margen{
    margin: 0px;
}
