.bg-color{
	background-color: #24303f;
}
nav{
	height: 100px;
}
.nav-logo{
	top: -10px;
}
.letra-nav{
   font-size: 5px;
}
.navbar-center{
	width: 70%;
	margin-top: 10px;
}
.fix{
	height: 40px;
}
.bg-naranja{
	background-color: #F3A847;
}
#home{
	margin-top: -24px;
	width: 100%;
	
}
.img-home{
	width: 100%;
}
aside{
	background-color:#f9f9f8;
	margin-left: 6%;
	margin-top: -2.5%;
}
figure{
	margin-top: 2%;
}
figcaption{
	margin-bottom: 25px; 
}
.bajar{
	margin-top: 2%;
}