.bg-color{
	background-color: #24303f;
}
nav{
	height: 115px;
}
.nav-logo{
	top: -10px;
	margin-right:1%;
}
.letra-nav{
   font-size: 5px;
}
.navbar-center{
	width: 63%;
	margin-top: 10px;
}
.fix{
	height: 40px;
}
.bg-naranja{
	background-color: #F3A847;
}
#home{
	margin-top: -24px;
	width: 100%;
	
}
.img-home{
	width: 100%;
}
aside{
	margin-top: -18.5%;
	height: 2100px;
	background-color:#f9f9f8;
	margin-left: 6%;
}
figure{
	margin-top: 2%;
}
figcaption{
	margin-bottom: 25px; 
}
.bajar{
	margin-top: 2%;
}
.subir{
	margin-top: -12%;
}
.mov{
	margin-top: 25%;
}
.regul{
	height: 160px;
	margin-left: 20%;
	margin-top: -10%;
}
.borde{
     border-left: solid  #CCC;
	border-left-width: thin;
}
.compu{
	width: 100%;
	height: 100px;
}
.white-text{
	color: white;
}
.arr{
	margin-top:-4%
}
.btn1{
	margin-left: -2.5%;
}
#carrito{
	width: 65px;
}