.imagen-producto{
  width: 100%
}
.pequeña-publicidad{
  display: inline-flex;
}
.pequeña-publicidad img{
  width: 10%;
  height: 10%;
  margin: 2%;
}

.publicidad-baja{
  margin-top: 2%;
}

.subtitulo-producto {
  font-size: 16px;
  font-family: "Verdana";
  color: #CC6600;
}

.comentario-subtitulo {
  padding: 0;
  margin: 0;
  color: #949494;
  font-size: 13px;
}

.informacion-producto {
  margin: 2%;
  font-size: 13px;
}
